<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PayseraPublicKeyUrl" value="http://downloads.webtopay.com/download/public.key"/>
    <add key="Version" value="1.6"/>
    <add key="PayUrl" value="https://www.mokejimai.lt/pay/"/>
    <add key="AcceptUrl" value="http://isidos.com/accept/"/>
    <add key="CancelUrl" value="http://isidos.com/cancel/"/>
    <add key="CallbackUrl" value="http://isidos.lt/callback/"/>
    <add key="ProjectId" value=""/>
    <add key="SignPassword" value=""/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>